@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #b9b9b9;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}